#sec1{
  display:flex;
  justify-content:space-around;
  flex-direction: row;
  width: 50%;
}
.bar{
  margin:1px;
  background-color:red;
  transition: 500ms;

}
.box{
  padding-bottom: 10px;
  height:80vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  align-items:last baseline;
  justify-content:center;
}
.full{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.topbar{
  height: 10vh;
  align-items: center;
  display:flex;
  flex-direction: row;
  background-color:#1a1a1a;
  justify-content: space-evenly;
}
#slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
#logo{
  font-size: 20px;
  font-family: monospace;
  color: #d3d3d3;
}
button{
  padding:2px;
  transition: 200ms;
  background-color: white;
  font-size: 15px;
  font-family: monospace;
}
button:hover{
  border-bottom: 10px solid orange ;
}
.drop{
  font-size: 100%;
  position: relative;
  display: inline-block;
  transition: 100ms;
}
.dropi{
  transition:100ms;
  display:none;
}
.drop:hover .dropi{
  position: absolute;
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .topbar{
    height: 20vh;
    flex-direction: column;
  }
  .box{
    height: 80vh;
  }
  #sec1{
    width: 100%;
  }
}
